
<style>
.rounded-start {
    border-radius: 0.60rem !important;
    border: none;
}
</style>

<% if current_user %>
      <% if current_page?(posts_path)%>
        <!--<ul class></ul>-->
        <div class style="margin-right: 10rem; width: 65%">
          <input class="form-control me-5" style="font-family: FontAwesome !important; border-radius: 14px" type="search" placeholder="&#xf002  Search for something here...">
        </div>
      <% end %>
  <div class="d-flex" style="position: absolute; right: 0px">
    <a href="<%= edit_user_registration_path %>">
       <button type="button" class="btn btn-outline-primary rounded-start">
        <small style="margin-right: 1rem; padding-top: 12px"> <%= current_user.first_name + " " + current_user.last_name %> </small>

        <%= image_tag('profile.jpg', class: 'rounded-start', style: 'height:50px; width:50px') %>
       </button>
    </a>
<!--    <small>-->
      <%#=  current_user.roles  %>
<!--    </small>-->
  </div>
<% end %>
